<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Comparison</title>
</head>
<body>
    <h1>Model Comparison</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <h2>Faça o upload de uma imagem para a análise e comparação dos modelos</h2>
        <input type="file" name="file" required>
        <button type="submit">Upload and Compare</button>
    </form>

    <div id="results">
        <h2>Resultados: </h2>
    </div>

    <script>
        document.getElementById('uploadForm').onsubmit = async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const response = await fetch('/upload_and_compare', {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            document.getElementById('results').innerHTML = `
                <h2>Model Comparison Results</h2>
                <p><strong>CNN LeNet Model:</strong></p>
                <p>Prediction: ${data.predict_normal}</p>
                <p>Inference Time: ${data.predict_normal_time.toFixed(4)}s</p>
                <p><strong>Linear Model:</strong></p>
                <p>Prediction: ${data.predict_linear}</p>
                <p>Inference Time: ${data.predict_linear_time.toFixed(4)}s</p>
            `;
        };
    </script>
</body>
</html>
